<div class="preview-card justify-content-center">

  <div class="card-thumbnail">
    <img class="card-left-side" src="https://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg">
  </div>

  <h5 class="card-day-event"> {{dayEvent}}</h5>

  <h6 class="card-month-event">{{monthEvent}}</h6>

  <div class="buttons-card">
    <a class="button-card" title="Afficher">
      <i class="fas fa-eye fa-2x"></i>
    </a>
    <a class="button-card" title="Modifier">
      <i class="fas fa-edit fa-2x"></i>
    </a>
    <a class="button-card" title="Supprimer">
      <i class="fas fa-trash-alt fa-2x"></i>
    </a>
  </div>

  <div class="card-right-side">
    <h1 class="card-title-event">{{titleEvent}}</h1>
    <div class="card-separator"></div>
    <p class="card-description-event">{{descriptionEvent}}</p>
    <div class="card-participant-event">
      <span *ngIf="participantEvent >= 2">Nb. participants : </span>
      <span *ngIf="participantEvent == 1">Nb. participant : </span>
      <span class="card-participant-number-event"> {{participantEvent}}</span>
    </div>
  </div>

</div>