<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h4 id=titleCarPooling>Listes des covoiturages pour l'évènement du jj/mm/aaaa</h4>

      <div>
        <button id="addcarpool" type="button" data-toggle="modal" data-target="#exampleModal">
          Add a new carpool
        </button>
      </div>
      <br>

      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Driver</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Depart Time</th>
            <th>Return Time</th>
            <th>Available Seats</th>
          </thead>

          <tbody>
            <tr>
              <td>Thomas</td>
              <td>115 Avenue de Toulouse - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>21:00</td>
              <td>3:30</td>
              <td>3</td>
            </tr>

            <tr>
              <td>Alex</td>
              <td>Boulevard Antigone - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>20:30</td>
              <td>3:00</td>
              <td>full</td>
            </tr>

            <tr>
              <td>Julie</td>
              <td>Rue Jean Bart - Alco - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>19:45</td>
              <td>1:00</td>
              <td>4</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<!-- Modal add new carpooling -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel">Add a new carpool</h5>
      </div>
      <div class="modal-body">
        <label for="uname">Start Location </label>
        <br>
        <input type="text" id="startLocation" name="name" placeholder="Enter your start Location">>
      </div>
      <div class="modal-body">
        <label for="uname">End Location </label>
        <br>
        <input type="text" id="endLocation" name="name" placeholder="Enter your end Location">>
      </div>
      <div class="modal-body">
        <label for="uname">Depart time</label>
      </div>
      <div class="modal-body">
        <label for="uname">Return time</label>
      </div>
      <div class="modal-body">
        <label for="uname">Available aseats</label>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add a new carpool</button>
      </div>
    </div>
  </div>
</div>