<div class="container">
  <div class="row">
    
    <div class="col-md-12">
      <h4 id=titleCarPooling>Listes des covoiturages pour l'évènement du jj/mm/aaaa</h4>
      <div class="table-responsive">
       
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Driver</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Depart Time</th>
            <th>Return Time</th>
            <th>Available Seats</th>
          </thead>

          <tbody>
            <tr>
              <td>Thomas</td>
              <td>115 Avenue de Toulouse - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>21:00</td>
              <td>3:30</td>
              <td>3</td>
            </tr>

            <tr>
              <td>Alex</td>
              <td>Boulevard Antigone - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>20:30</td>
              <td>3:00</td>
              <td>full</td>
            </tr>

            <tr>
              <td>Julie</td>
              <td>Rue Jean Bart - Alco - 34 000 Montpellier</td>
              <td>Boulevard Jeu de Paume - 34 000 Montpellier</td>
              <td>19:45</td>
              <td>1:00</td>
              <td>4</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>