<form  
 [formGroup]="loginForm"
(ngSubmit)="onSubmit(loginForm.value)">

    <h1>Connexion</h1>

    <label>email :</label>
    <input type="text" class="form-control"   [(ngModel)]="user.email" name="email" placeholder="email" #email="ngModel" required />

    <label>password :</label>
    <input type="password" class="form-control"  [(ngModel)]="user.password" name="password" placeholder="password" #password="ngModel" required />


<input type="submit" value="connexion" class="btn btn-primary"/>

</form>

L'utilisateur s'appelle {{ user.email }} et son mdp est :  {{ user.password }}.