<form  
 [formGroup]="form"
(ngSubmit)="onSubmit(form.value)">

    <h1>Connexion</h1>

    <label>email :</label>
    <input type="text" class="form-control"  formControlName = email name="email" placeholder="email" required ngModel />

    <label>password :</label>
    <input type="password" class="form-control"  formControlName = password name="password" placeholder="password" required ngModel />


<input type="submit" value="connexion" class="btn btn-primary"/>

</form>

<!-- L'utilisateur s'appelle {{ user.email }} et son mdp est :  {{ user.password }}. -->