<div class="container-fluid">
  <!-- <div class="row" id="disconnect_button">
    </div> -->
  <div class="row justify-content-center text-center">
    <h4>Gestion du profil</h4>
    <!-- <a class="clip-each clip-gradient">
        <div class="clip-caption">
          <i class="fas fa-home"></i>
        </div>
      </a> -->
  </div>
  <div class="row">

    <div class="col-sm-4">
      <div class="form-group">
        <label>Email</label>
        <div class="enfaitcestunform">
          <input type="text" class="form-control form-control-sm spaceInput" name="email" placeholder="Adresse email" aria-describedby="emailHelp">
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <button type="submit" class="btn btn-warning btnFullCol" style="color: #fff; background-color: #FFC107;">Save</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-3 col-sm-4 col-xs-4">
        <div class="spaceInput">
          <img class="default-img-profile" src="resources/img/defaultIcon.png" alt="Card image cap">
          <img class="default-img-profile" src="data:image/png;base64,${user.picture}" alt="Card image cap">
        </div>
      </div>
    </div>
    <div class="col-sm-4">boubou</div>


  </div>
  <!-- <div class="col-3 col-sm-4 col-xs-4">
      <div class="spaceInput">
        <img class="default-img-profile" src="resources/img/defaultIcon.png" alt="Card image cap">
        <img class="default-img-profile" src="data:image/png;base64,${user.picture}" alt="Card image cap">
      </div>
    </div> -->
</div>
<!-- <div>
    <form>
      <div><button type="submit" class="btn btn-warning btnFullCol" style="color: #fff; background-color: #FFC107;">Save</but="email">Email</label>
        <input type="text" name="email" formControlName="email">
      </div>
    </form>
  </div> -->