/* body {

    font-family             : 'Roboto Condensed', sans-serif;

    line-height             : 1.5;

    background-color        : rgb(0, 0, 0);

    color                   : #fff;

    text-align              : center;

}

p {

    margin                  : 0 0 10px 0;

}

.wrap {

    color                   : rgb(255, 255, 255);

    font-size               : 24px;

}

.clip-svg {

    width                   : 0;

    height                  : 0;

}   

.clip-caption {

    width                   : 100%;

    position                : absolute;

    top                     : 50%;

    -ms-transform           : translateY(-50%);

    -webkit-transform       : translateY(-50%);

    transform               : translateY(-50%);

    text-align              : center;

}

.clip-each {

    display                 : block;

    position                : relative;

    -webkit-clip-path       : polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    clip-path               : polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    -webkit-clip-path       : url("#hexagon-clip");

    clip-path               : url("#hexagon-clip");

    -webkit-transition      : all 0.2s ease-in;

    transition              : all 0.2s ease-in;

    margin                  : 0 auto;

}

a.clip-each:hover {

    background              : #ffc107;

    -webkit-transition      : all 0.25s ease-in;

    transition              : all 0.25s ease-in;

}

.clip-solid {

    width                   : 300px;

    height                  : 300px;

    background-repeat       : no-repeat;

    background-size         : contain;

    background-color        : #673ab7;

    background-blend-mode   : hard-light;

    -webkit-transition      : all 2.5s linear;

    transition              : all 2.5s linear;

}

.clip-solid:after {

    content                 : "";

    position                : absolute;

    left                    : 0;

    right                   : 0;

    bottom                  : 0;

    -webkit-clip-path       : polygon(100% 3%, 17% 100%, 100% 100%);

    clip-path               : polygon(100% 3%, 17% 100%, 100% 100%);

    -webkit-clip-path       : url("#triangle-clip");

    clip-path               : url("#triangle-clip");

    background              : #ffc107;

    z-index                 : 1;

    width                   : 100%;

    height                  : 155px;

    -webkit-transition      : all 0.2s linear;

    transition              : all 0.2s linear;

    pointer-events          : none;

}

.clip-solid:hover:after {

    height                  : 0;

    -webkit-transition      : all 0.45s ease-in;

    transition              : all 0.45s ease-in;

}

.clip-solid:hover .social-share-block {

    -webkit-transition      : all 0.2s linear;

    transition              : all 0.2s linear;

}

.social-share-block {

    position                : absolute;

    bottom                  : 20px;

    right                   : 75px;

    color                   : #fff;

    font-size               : 70%;

    z-index                 : 2;

}

.social-each {

    font-size               : 80%;

}

.clip-gradient {

    background              : #FFC107;

    width                   : 60px;

    height                  : 60px;

    margin-top              : -457%;

}

.clip-gradient .clip-caption {

    color                   : rgb(255, 255, 255);

}   

.clip-tagline {

    display                 : block;

    color                   : #758C9B;

    text-decoration: none;

    text-align: center;

}

@media only screen and (min-width: 550px) {

.wrap {

    display                 : table;

    position                : absolute;

    top                     : 50%;

    left                    : 50%;

    -ms-transform           : translateY(-50%) translateX(-50%);

    -webkit-transform       : translateY(-50%) translateX(-50%);

    transform               : translateY(-50%) translateX(-50%);

}



.clip-block {

    display                 : table-cell;

    vertical-align          : middle;

}



.clip-border {

    margin-top              : 20px;

}

}

#volet {

    width                   : 180px;

    padding                 : 10px;

    background              : rgb(0, 0, 0);

    text-align              : right;

    color                   : #FFC107;

    position                : relative;

    left                    : -270px;

    top                     : -207px;

    -webkit-transition      : all .5s ease-in;

    transition              : all .5s ease-in;

}

#volet a.ouvrir,

#volet a.fermer {

    padding                 : 5px 10px;

    background              : #FFC107;

    color                   : #fff;

    text-decoration         : none;

    position                : absolute;

    right                   : -65px;

    top                     : 10px;

    /* quelques styles CSS3 */
/*
    -ms-transform           : rotate(270deg);

    -moz-transform          : rotate(270deg);

    -webkit-transform       : rotate(270deg);

    transform               : rotate(270deg);

    border-radius           : 0 0 8px 8px;

}

#disconnect {

    color                   : #fff;

}

#volet:target {

    left                    : 0;

}

#volet_clos:target #volet {

    left                    : -223px;

}

#volet a.fermer {

    display                 : none;

}

#volet:target a.ouvrir {

    display                 : none;

}

#volet:target a.fermer {

    display                 : block;

}

h4 {

    margin-top              : 12%;

    margin-bottom           : 5%;

}

.spaceInput {

    margin                  : 1%;
    display					: flex;
    justify-content 		: center;
    align-items 			: center;
    flex-direction			: column;

}

.txtBlack {

    color                   : black;

}

.btnFullCol {

    width                   : 100%;

}

.spaceInput {

    margin                  : 0%;

    background              : black;

    border-color            : #FFC107;

}*/
.img-card{
    height: 170px;
}
/*
.card{
    width: 55%;
}

.flex-container{
    display: flex;
    justify-content: center;

} */
/* @Author : youli */
body {
    background-color: #444442;
    padding-top: 85px;
  }

  h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
  }

  h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
  }

  /* ///// inputs /////*/

  input:focus~label,
  textarea:focus~label,
  input:valid~label,
  textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }

  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }

  @media only screen and (max-width: 768px) {
    .styled-input {
      width: 100%;
    }
  }

  .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  .styled-input label i {
    color: rgb(251, 163, 0);
}

  .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }

  input,
  textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  input:focus~span,
  textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

  textarea {
    width: 100%;
    min-height: 15em;
  }

  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }

  .submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
  }

  @media (max-width: 768px) {
    .submit-btn {
      width: 100%;
      float: none;
      text-align: center;
    }
  }

  input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
  }

  input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
  }

  ::-webkit-file-upload-button {
    background: #444442;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    border-color: #444442;
    margin-left: -26px;
  

  }

  .footer-margin{
      margin-bottom: 10%;
  }