<!-- 
There are probably many improvements that could be made,
but it's a start on the frontend at least.
-->

<form [formGroup]="userProfilForm" (ngSubmit)="soumetUserProfilForm(userProfilForm.value)">
  <div class="container footer-margin">
    <div class="row input-container">

      <div class="col-xs-12">
        <h4 style="text-align:center">Editer un évenement</h4>
        <div class="styled-input wide">
          <input name="name" formControlName="name" type="text" required />
          <div *ngIf="userProfilForm.controls.name.errors" class="errors">Nom : requis</div>
          <label>
            <i class="fas fa-pencil-alt"></i> Name</label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="styled-input wide">
          <input name="adress" formControlName="adress" type="text" required />
          <label>
            <i class="fas fa-map-marker-alt"></i> Adresse</label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="styled-input ">
          <input required class="form-control start-date-time-event" name="startDate" formControlName="startDate" type="date" max="2012-06-25"
            min="2011-08-13" name="the_date">
          <label>
            <i class="far fa-calendar-check"></i> Date début</label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="styled-input">
          <input type="time" class="form-control" name="startTime" formControlName="startTime" required />
          <label>
            <i class="far fa-clock"></i> Heure début</label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="styled-input">
          <input class="start-date-time-event" name="endDate" formControlName="endDate" type="date" max="2012-06-25" min="2011-08-13"
             required>
          <label>
            <i class="far fa-calendar-check"></i> Date fin</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="styled-input">
          <input type="time" name="endTime" formControlName="endTime" required />
          <label>
            <i class="far fa-clock"></i> Heure fin</label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="styled-input wide">
          <textarea name="description" formControlName="description" required></textarea>
          <label>
            <i class="far fa-edit"></i> Description</label>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="styled-input wide">
          <input type="file" name="file" accept="image/*" style="background-color:black;" required/>
          <label class="custom-file-upload"></label>
        </div>
      </div>

      <div class="col-md-7 col-sm-12">
        <div type="submit" value="Upload File" class="btn-lrg submit-btn">Valider</div>
      </div>

    </div>
  </div>
</form>